<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>Add a new student</h3>
<form action="/students" method="post">
    <label>First name</label>
    <input type="text" name="firstName" />

    <label>Last name</label>
    <input type="text" name="lastName" />

    <label>age</label>
    <input type="text" name="age" />

    <input type="submit" value="add student">
</form>

</body>
</html>