<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul th:each="student: ${students}">
        <p>Student ID: <span th:text=${student.id}></span></p>
        <p>Student First Name:  <span th:text=${student.firstName}></span></p>
        <p>Student Last Name:  <span th:text=${student.lastName}></span></p>
        <p>Student Age:  <span th:text=${student.age}></span></p>
    </ul>
</body>
</html>